{% extends 'scatterauth/base.html' %}
{% block content %}
<div class="row m-t-2">
  <div class="container">
    <h4 class="col-md-12 text-center" style="margin-top: 15px" id='container-text'>Click at any menu item to interact
      with contract</h4>
  </div>
</div>
{% endblock content %}
{% block javascript %}
{{ block.super }}
<script>
  var login_url = "{% url 'scatterauth_login_api' %}";

  function random12() {
    var arr = [];
    for (var i = 0; i < 12; i++) {
      var num = Math.random() * 9;
      num = parseInt(num, 10);
      arr.push(num);
    }
    return arr.join('');
  }

  window.ScatterJS.scatter.connect("LRB").then(connected => {
    if (!connected) return console.log('Failed to connect with Scatter!');
    var scatter = window.ScatterJS.scatter;
    var requiredFields = {
      accounts: [network]
    }
    // if (window.is_login) return true;
    scatter.getIdentity(requiredFields).then(identity => {
      if (identity) {
        var sign_data = random12();
        console.log(sign_data);
        var toSign = 'xxxxxx';
        toSign = identity.accounts[0].name;
        console.log(toSign);
        console.log(scatter.identity.publicKey);

        scatter.authenticate(sign_data, toSign)
          .then(res => {
            $.post('xxxx', {
              'sign': res,
              'public_key': scatter.identity.publicKey,
              'name': scatter.identity.accounts[0].name,
              'sign_data': sign_data,
              'to_sign': toSign
            }, function (data) {
              console.log(data);
            });
          }).catch(err => {
            console.log('err', err);
          });
      }
    });
  });

</script>
{% endblock javascript %}
