{% extends 'scatterauth/base.html' %}
{% block content %}
<div class="row m-t-2">
  <div class="container">

    <h4 class="col-md-12 text-center" style="margin-top: 15px" id='container-text'>Click at any menu item to interact
      with contract</h4>
    <h5 class="text-center" style="color: #bea05c" id="scatter-status">Scatter not installed</h5>
  </div>
</div>
{% endblock content %}
{% block javascript %}
{{ block.super }}
<script>
  window.ScatterJS.scatter.connect("LRB").then(connected => {
    if (!connected) return console.log('Failed to connect with Scatter!');
    const scatter = window.ScatterJS.scatter;
    const requiredFields = {
      accounts: [network]
    }
    document.getElementById('scatter-status').innerHTML = "Scatter installed!";

    scatter.getIdentity(requiredFields).then(identity => {
      console.log('scatter loaded');
      if (identity) {
        console.log(identity);

        const publicKey = identity.publicKey;
        const name = identity.name ? identity.name : "Anonymous"

        document.getElementById('container-text').innerHTML = "Welcome, " + name +
          '<br>Your public key: ' + publicKey
      } else {
        console.log('identity not found, have to signup')
        document.getElementById('container-text').innerHTML = "Please sign up first"
      }
    }).catch(error => {
      console.log("Error!")
    });
    window.ScatterJS = null;
  });
</script>
{% endblock javascript %}
