{% extends 'scatterauth/base.html' %}
{% block content %}
  <div class="row m-t-2">
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign Up</button>
    </form>
  </div>
{% endblock content %}
{% block javascript %}
  {{ block.super }}
  <script>
    var signup = '{% url 'scatterauth_signup_api' %}';
    var fields = ['email'];
    var public_key_field_name = 'username';

    window.ScatterJS.scatter.connect("LRB").then(connected => {
      if (!connected) return console.log('Failed to connect with Scatter!');
      var scatter = window.ScatterJS.scatter;
      var requiredFields = {
      accounts: [network]
      }
      scatter.getIdentity(requiredFields).then(identity => {
        if (identity) {
          // login the user with api
          console.log("Identity found");
          console.log(identity);
          console.log("Welcome, " + identity.name ? identity.name : "Anonymous"
                      + '<br>Your public key: ' + identity.publicKey);
        } else {
          requestIdentity(fields, public_key_field_name, signup, null, console.log);
        }
      });
    });
  </script>
{% endblock javascript %}
